        <section id = "footer">
            <span class = "icon is-large">
                <a class = "fas fa-3x" href="https://www.github.com/dlee2015" target = "_blank"><i class="fab fa-github-square"></i></a>
        </section> 
        <script src="https://cdn.jsdelivr.net/gh/cferdinandi/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
        <script
            src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8="
            crossorigin="anonymous">
        </script>
        <script src="/js/app.js" async defer></script>
    </body>
</html>