            </div>
        <div class = 'footer'>
            <a href = 'mailto:dlee_97@hotmail.com'><i class = 'far fa-envelope'></i></a>
            <a href="https://www.github.com/dlee2015" target = "_blank"><i class="fab fa-github-square"></i></a>
            <a href="https://www.linkedin.com/in/dlee97/" target = "_blank"><i class="fab fa-linkedin-in"></i></a>
        </div> 
    </body>
    <script src="/js/app.js" async defer></script>
</html>