

    <div class = 'footer'>
        <a href = 'mailto:dlee_97@hotmail.com'><i class = 'far fa-envelope'></i></a>
        <a href="https://www.github.com/dlee2015" target = "_blank"><i class="fab fa-github-square"></i></a>
    </div> 


</div>
        <script
            src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8="
            crossorigin="anonymous">
        </script>
        <script src="/js/app.js" async defer></script>
    </body>
</html>