<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Daniel Lee</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- For browser tab icon -->
        <link rel='icon' href='/images/favicon_io/favicon.ico' type='image/x-icon'/ >
        <!-- For github / linkedin icons -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
        <!-- Bulma, might replace with Skeleton -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css" type = "text/css">
        <!-- Master css -->
        <link rel="stylesheet" href="/stylesheets/styles.css" type = "text/css">
        <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
    </head>
    <body>
            <nav class="navbar is-fixed-top is-dark" role="navigation" aria-label="main navigation">
                <div id="navbarBasicExample" class="navbar-menu">
                    <div class="navbar-start" style = "flex-grow: 1; justify-content: center;">
                        <div class = "navbar-brand">
                            <a class = "navbar-item" href = "/"> D/L </a>
                        </div>
                        <a class="navbar-item" href = "#Home"> Home </a>
                        <a class="navbar-item" href = "#About"> About Me </a>
                        <a class="navbar-item" href = "#Projects"> Projects </a>
                    </div>
                    <div class = "navbar-end" style = "flex-grow: 1; justify-content: center;">
                        <a class="navbar-item" href = "/items/Resume.pdf" target = "_blank"> Resume </a>
                    </div>
                </div>
            </nav>