<% include ./partials/header %>

<div class = 'fade-in'>
    <div class = 'container'>
        <div class = 'row'>
            <div class = 'content'>
                <img src = '/images/portrait.jpg' id = 'portrait'>
            </div>
        </div>
        <div class = 'row'>
            <div class = 'one-half column'>
                <div class = 'content'>
                    <h4> <strong>About Me</strong> </h4>
                    <p> I'm passionate about family, friends, and developing myself as a full stack enginneer. I only recently started learning Web Development but I can already tell that this is something that I want to do for the rest of my life. I'm very excited and earnest to see where my career takes me!</p>
                    <p>
                        I am currently looking for jobs as a <span class = 'highlight1'>Junior Full Stack Engineer</span>. Lets get in touch! 
                    </p>
                </div>
            </div>
            <div class = 'one-half column'>
                <div class = 'content'>
                    <h4> <strong>Development History</strong> </h4>
                    <p> I didn't become interested in programming until college, but at this time, I was able to take the necessary courses in order to obtain the fundamentals of programming. Since then, I taught myself as much as I could about full stack enginneering! I'm eager to learn so much more than I already know.</p>
                </div>
            </div>
        </div>
    </div>
</div>





<% include ./partials/footer %>