<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Daniel Lee</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel='icon' href='/images/favicon_io/favicon.ico' type='image/x-icon'/ >
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css" type = "text/css">
        <link rel="stylesheet" href="/stylesheets/styles.css" type = "text/css">
        <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
    </head>
    <body>
            <nav class="navbar is-fixed-top is-dark" role="navigation" aria-label="main navigation">
                <div id="navbarBasicExample" class="navbar-menu">
                    <div class="navbar-start" style = "flex-grow: 1; justify-content: center;">
                        <div class = "navbar-brand">
                            <a class = "navbar-item" href = "/"> D/L </a>
                        </div>
                        <a class="navbar-item" href = "#Home"> Home </a>
                        <a class="navbar-item" href = "#About"> About Me </a>
                        <a class="navbar-item" href = "#Projects"> Projects </a>
                    </div>
                    <div class = "navbar-end" style = "flex-grow: 1; justify-content: center;">
                        <a class="navbar-item" href = "/items/Resume.pdf" target = "_blank"> Resume </a>
                    </div>
                </div>
            </nav>

            <section id = "Home">
                <div class = "columns is-mobile is-centered">
                    <div class = "column">
                            <h1 class> Hey there! I'm Daniel. </h1>
                            <p class> I'm an aspiring full stack engineer </p>
                    </div>
                </div>
            </section>
            <section id = "About">
                <h1> About Me </h1>
                <br>
                <div class = "columns is-mobile">
                    <div class = "column is-half  ">
                        <img class ="is-circular" src= "/images/portrait.jpg">
                    </div>
                    <div class = "column is-half is-vcentered">
                        <p>
                            I first took an interest in coding when I was in middle school. I wanted to run a private server of a popular game that I loved to play. Since then, my interests in programming have evolved to go into Web Development.
                        </p>
                    </div>
                </div>
            </section>
            <hr>
            <section id = "Projects">
                <h1> Projects </h1>
                <br>
                <div class = "columns">
                    <div class = "column is-5  ">
                        <h2> My projects</h2>
                        <br>
                        <p> I'm constantly finding new things to do and I'm always learning!</p>
                        <img src = "/images/brackets.jpg">
                    </div>
                    <div class = "column is-offset-2 is-5">
                        <div class = "box">
                            <ul>
                                <li> Technical Projects</li>
                            </ul>
                            <hr>
                            <div class = "projects">
                                <div class = "project-selection">
                                    <div class = "project-text">
                                        <a class = "project-title" href = "/"> Yelp Clone </a>
                                        <br>
                                        <span class = "project-desc"> My first attempt at creating a full web app</span>
                                    </div>
                                    <div class = "project-text">
                                        <a class = "project-title" href = "/"> Website v1 </a>
                                        <br>
                                        <span class = "project-desc"> My first personal website </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </section>
            <section id = "footer">
                <span class = "icon is-large">
                    <a class = "fas fa-3x" href="https://www.github.com/dlee2015" target = "_blank"><i class="fab fa-github-square"></i></a>
                </span>
            </section>
        
        <script src="https://cdn.jsdelivr.net/gh/cferdinandi/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
        <script
            src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8="
            crossorigin="anonymous">
        </script>
        <script src="/js/app.js" async defer></script>
    </body>
</html>