<% include ./partials/header %>

<div class="fade-in">
	<div class="container">
		<div class="row">
			<div class="five columns">
				<div class="content">
					<img src="/images/avatar.png" id="avatar" />
				</div>
			</div>
			<div class="seven columns">
				<div class="content">
					<p class="opener">
						Hey! My name is <span class="highlight1">Jihoon</span>, but you can
						call me Daniel.
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
<% include ./partials/footer %>
