<% include ./partials/header %>
            <section id = "Home">
                <div class = "columns is-mobile is-centered">
                    <div class = "column">
                            <h1 class> Hey there! I'm Daniel. </h1>
                            <p class> I'm an aspiring full stack engineer </p>
                    </div>
                </div>
            </section>
            <section id = "About">
                <h1> About Me </h1>
                <br>
                <div class = "columns is-mobile">
                    <div class = "column is-half  ">
                        <img class ="is-circular" src= "/images/portrait.jpg">
                    </div>
                    <div class = "column is-half is-vcentered">
                        <p>
                            I first took an interest in coding when I was in middle school. I wanted to run a private server of a popular game that I loved to play. Since then, my interests in programming have evolved to go into Web Development.
                        </p>
                    </div>
                </div>
            </section>
            <hr>
            <section id = "Projects">
                <h1> Projects </h1>
                <br>
                <div class = "columns">
                    <div class = "column is-5  ">
                        <h2> My projects</h2>
                        <br>
                        <p> I'm constantly finding new things to do and I'm always learning!</p>
                        <img src = "/images/brackets.jpg">
