<% include ./partials/header %>

<div class = 'fade-in'>
    <div class = 'container'>
        <div class = 'row'>
            <div class = 'five columns'>
                <div class = 'content'>
                    <img src = '/images/avatar.png' id = 'avatar'>
                </div>
            </div>
            <div class = 'seven columns'>
                <div class = 'content'>
                    <p class = 'opener'> Hey! My name is <span class = 'highlight1'>Jihoon</span>, but you can call me Daniel.</p>
                </div>
            </div>
        </div>
    </div>
</div>

    <!-- <section id = "Projects">
        <h1> Projects </h1>
        <br>
        <div class = "columns">
            <div class = "column is-5  ">
                <h2> My projects</h2>
                <br>
                <p> I'm constantly finding new things to do and I'm always learning!</p>
                <img src = "/images/brackets.jpg">
            </div>
            <div class = "column is-offset-2 is-5">
                <div class = "box">
                    <ul>
                        <li> Technical Projects</li>
                    </ul>
                    <hr>
                    <div class = "projects">
                        <div class = "project-selection">
                            <div class = "project-text">
                                <a class = "project-title" href = "/work"> Yelp Clone </a>
                                <br>
                                <span class = "project-desc"> My first attempt at creating a full web app</span>
                            </div>
                            <div class = "project-text">
                                <a class = "project-title" href = "/"> Website v1 </a>
                                <br>
                                <span class = "project-desc"> My first personal website </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>  -->
<% include ./partials/footer %>