<% include ./partials/header %>

<div class="fade-in">
	<div class="container">
		<div class="row">
			<div class="content">
				<h3>some of my projects</h3>
			</div>
		</div>
		<div class="row" id="projects-page">
			<div class="five columns" id="project-display">
				<div class="project-box">
					<div class="project-list">
						<% projects.forEach((project) => { %>
						<a class="project-title" href="/projects/<%=project.Url%>"
							><%= project.Title %></a
						>
						<p class="project-shortdesc"><%= project.Short %></p>
						<% }) %>
					</div>
				</div>
			</div>

			<div class="seven columns">
				<div class="mobile-project">
					<hr />
				</div>
				<div class="content"></div>
			</div>
		</div>
		<div class="row"></div>
	</div>
</div>

<% include ./partials/footer %>
