<% include ./partials/header %>

<div class="fade-in">
	<div class="container">
		<div class="row">
			<div class="content">
				<h3>some of my projects</h3>
			</div>
		</div>
		<div class="row">
			<div class="five columns">
				<div>
					<ul class="project-list">
						<li>Website</li>
						<li>Yelp Clone</li>
						<li>BurgerBuilder</li>
						<li>BurgerBuilder</li>
					</ul>
				</div>
			</div>

			<div class="seven columns">
				<div class="mobile-project">
					<hr />
				</div>
				<div class="content">
					<div class="project-image">
						<h5>project image</h5>
					</div>
					<div class="project-title">
						<h5>Title of Project</h5>
						<p>
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis
							molestias omnis, maiores quisquam rem fuga.
						</p>
					</div>
					<div class="project-about">
						<h5>About this project</h5>
						<p>
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis
							molestias omnis, maiores quisquam rem fuga.
						</p>
					</div>
					<div class="project difficulties">
						<h5>Difficulties</h5>
						<p>
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis
							molestias omnis, maiores quisquam rem fuga.
						</p>
					</div>
					<div class="project difficulties">
						<h5>Technologies Used</h5>
						<p>
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis
							molestias omnis, maiores quisquam rem fuga.
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="row"></div>
	</div>
</div>

<% include ./partials/footer %>
