<% include ./partials/header %>

<div class="fade-in">
	<div class="container">
		<div class="row">
			<div class="content">
				<h3>some of my projects</h3>
			</div>
		</div>
		<div class="row" id="projects-page">
			<div class="five columns" id="project-display">
				<div class="project-box">
					<ul class="project-list">
						<a
							class="project-title"
							href="https://www.github.com/dlee2015/website"
							>Website v1</a
						>
						<p class="project-shortdesc">
							First website I published to the internet
						</p>
						<a
							class="project-title"
							href="https://www.github.com/dlee2015/website"
							>Website v2</a
						>
						<p class="project-shortdesc">
							Second website, redesigned with new routing
						</p>
						<a
							class="project-title"
							href="https://www.github.com/dlee2015/website"
							>Burger Menu</a
						>
						<p class="project-shortdesc">
							Very first React App
						</p>
					</ul>
				</div>
			</div>

			<div class="seven columns">
				<div class="mobile-project">
					<hr />
				</div>
				<div class="content">
					<div class="project-image">
						<h5>project image</h5>
					</div>
					<div class="project-title">
						<h5>Title of Project</h5>
						<p>
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis
							molestias omnis, maiores quisquam rem fuga.
						</p>
					</div>
					<div class="project-about">
						<h5>About this project</h5>
						<p>
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis
							molestias omnis, maiores quisquam rem fuga.
						</p>
					</div>
					<div class="project difficulties">
						<h5>Difficulties</h5>
						<p>
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis
							molestias omnis, maiores quisquam rem fuga.
						</p>
					</div>
					<div class="project difficulties">
						<h5>Technologies Used</h5>
						<p>
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis
							molestias omnis, maiores quisquam rem fuga.
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="row"></div>
	</div>
</div>

<% include ./partials/footer %>
