/* HTML TAGS */

body {
	height: 100%;
	position: relative;
}

ul {
	list-style: none;
}

li {
	margin-bottom: 2rem;
}

hr {
	margin: 10;
}

/* CLASSES */

.super-container {
	font-family: 'Merriweather', serif;
	display: block;
	width: 100%;
	position: relative;
	overflow-y: hidden;
	height: 100%;
	margin-bottom: 10rem;
}

a.project-title {
	font-size: 3rem;
	font-family: 'Indie Flower', cursive;
	text-decoration: none;
	color: lightblue;
}

a.project-title.active {
	color: rgb(0, 255, 255);
}

a.project-title:hover {
	color: #808080;
	transition: 0.15s ease-in-out;
}

.navbar {
	margin: 2rem 0 0 0;
	overflow: hidden;
	font-size: 2rem;
	display: block;
	text-align: center;
	font-family: 'Indie Flower', cursive;
}

.navbar-brand {
	float: left;
}

.navbar-brand a {
	color: black;
	text-decoration: none;
}

.navbar-links {
	display: inline-block;
	text-align: center;
	text-decoration: none;
	display: flex;
	justify-content: space-evenly;
	align-items: flex-end;
}

.navbar-links a {
	color: grey;
	text-decoration: none;
}

.navbar-links a:hover {
	color: #808080;
	transition: 0.15s ease-in-out;
}

.navbar-brand a:hover {
	color: lightgreen;
	transition: 0.15s ease-in-out;
}

.content {
	text-align: center;
}

.footer {
	position: relative;
	text-align: center;
	width: 100%;
	font-size: 3rem;
	margin: 2rem 0;
}

.content .opener {
	font-size: 6rem;
	font-family: 'Indie Flower', cursive;
}

.highlight1 {
	font-weight: bold;
	color: blueviolet;
}

.row div {
	text-align: center;
	align-content: center;
}

.row .content {
	font-family: 'Indie Flower', cursive;
}

.content p {
	font-size: 1.75rem;
	font-family: 'Lato', sans-serif;
}

.project-box {
	height: 45vh;
	overflow: auto;
	border: 1px solid lightgrey;
}

.project-list {
	text-align: center;
	align-content: center;
	justify-content: center;
}

.mobile-project {
	display: none;
}

.gitLink {
	font-size: 4.5rem;
	color: rgb(0, 0, 0);
}

/* ID SELECTORS */

.row#projects-page {
	display: flex;
	align-items: center;
}

#avatar {
	width: 100%;
	display: block;
	margin: auto;
}

#navbar-mobile {
	display: none;
}

#portrait {
	border-radius: 50%;
	margin-bottom: 5rem;
}

#project-name {
	text-decoration: none;
	color: rgb(2, 51, 97);
	text-align: center;
	font-family: 'Indie Flower', cursive;
}

#mobile-menu {
	display: none;
}

#status {
	text-align: center;
}

/* MOBILE - VIEW */

@media (max-width: 450px) {
	hr {
		margin: 0;
	}

	.project-about {
		margin-top: 5rem;
	}

	.project-box {
		margin-bottom: 5rem;
	}

	.project-title {
		margin-top: 2rem;
	}

	.row#projects-page {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.content h3 {
		margin-top: 2rem;
	}

	.navbar {
		display: none;
		position: fixed;
	}

	.navbar-brand {
		margin-left: 2rem;
	}

	.sidebar {
		position: fixed;
		top: 0;
		left: -35vw;
		width: 35vw;
		height: 100vh;
		transition: 0.5s;
		padding: 20px;
		text-align: center;
		box-sizing: border-box;
		background: lightgrey;
		z-index: 200;
	}
	.sidebar.active {
		left: 0;
	}

	.sidebar .menu {
		margin: 0;
		padding: 2rem 0;
	}

	.sidebar .menu li {
		list-style: none;
	}

	.sidebar .menu li a {
		display: block;
		padding: 1rem 0;
	}

	.socials {
		bottom: 40px;
		display: flex;
		width: 100%;
		box-sizing: border-box;
		justify-content: space-around;
	}

	#burger.active {
		color: orange;
	}

	#portrait {
		margin-top: 2rem;
		width: 100%;
	}

	#mobile-menu {
		display: block;
		font-family: 'Indie Flower', cursive;
		font-size: 2rem;
	}

	#menu-button {
		display: flex;
		justify-content: flex-end;
		margin: 2rem;
	}
}

/* ANIMATIONS */

.fade-in {
	animation: fadeIn 1.5s ease-in;
	-webkit-animation: fadeIn ease 1.5s;
	-moz-animation: fadeIn ease 1.5s;
	-o-animation: fadeIn ease 1.5s;
	-ms-animation: fadeIn ease 1.5s;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-moz-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@-webkite-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@-o-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@-ms-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
