body {
    height: 100%;
    position: relative;
    overflow: hidden;
}

.super-container{
    font-family: 'Merriweather', serif;
    display: block;
    width: 100vw;
    padding-bottom: 10rem;
    position: relative;
    overflow-y: hidden;
}

hr {
    margin: 10;
}

.navbar {
    margin: 2rem 0 0 0;
    overflow: hidden;
    font-size: 2rem;
    display: block;
    text-align: center;
    font-family: 'Indie Flower', cursive;
}

.navbar-brand{
    float: left;
}

.navbar-brand a{
    color: black;
    text-decoration: none;
}

.navbar-links{
    display: inline-block;
    text-align: center;
    text-decoration: none;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
}

.navbar-links a{
    color: grey;
    text-decoration: none;
}

.navbar-links a:hover{
    color: lightblue;
    transition: .15s ease-in-out;
}

.navbar-brand a:hover{
    color: lightgreen;
    transition: .15s ease-in-out;
}

.content{
    text-align: center;
}

#avatar{
    width: 100%;
    display: block;
    margin: auto;
}

.footer{
    position: relative;
    text-align: center;
    width: 100%;
    font-size: 3rem;
    margin: 2rem 0;
}

.content .opener{
    font-size: 6rem;
    font-family: 'Indie Flower', cursive;
}

.highlight1{
    font-weight: bold;
    color: blueviolet;
}

#portrait{
    border-radius: 50%;
    margin-bottom: 5rem;
}

.row .content {
    font-family: 'Indie Flower', cursive;
}

.content p{
    font-size: 1.75rem;
    font-family: 'Lato', sans-serif;
} 

@media(max-width: 400px){
    body{
        overflow: scroll;
    }

    #portrait{
        width: 100%;
    }
}